<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Token" value="telegram-token" />
		<add key="ClientId" value="clickup-client-id" />
		<add key="ClientSecret" value="clickup-client-secret" />
		<add key="RedirectURL" value="clickup-redirect-url" />
		<add key="ConnectionString" value="connection-string" />
	</appSettings>
</configuration>
